# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Proyectos Python\facebook-graph-py\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
